.home-container {
    background:
      /* url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1123 258'><path d='M1124,2c0,0 0,256 0,256l-1125,0l0,-48c0,0 16,5 55,5c116,0 197,-92 325,-92c121,0 114,46 254,46c140,0 214,-167 572,-166Z' style='fill: hsla(220, 13%, 18%, 1)' /></svg>") */
      no-repeat bottom,
      linear-gradient(to bottom, var(--md-primary-fg-color), #282c34 65%);
    padding-top: 1rem;
}

/* ---------- General setup of the greeting box. --------- */
.home-greeting {
    color: var(--md-primary-bg-color);
    /* margin: 0 0.8rem; */
}

.home-greeting h1 {
    color: currentcolor;
    font-weight: 700;
    margin-bottom: 1rem;
}

.home-greeting-code code{
    background: #282c34;
    color: #E6E6E6;
    min-height: 30em;
    box-shadow: 5px 5px 5px black !important;
}

.home-greeting .md-button {
    color: var(--md-primary-bg-color);
    margin-right: 0.5rem;
    margin-top: 0.5rem;
}

.home-greeting .md-button:focus,
.home-greeting .md-button:hover {
    background-color: var(--md-accent-fg-color);
    border-color: var(--md-accent-fg-color);
    color: var(--md-accent-bg-color);
}

.home-greeting .md-button--primary {
    background-color: var(--md-primary-bg-color);
    border-color: var(--md-primary-bg-color);
    color: #282c34;
}

/* Small devices. */
@media screen and (max-width: 768px) {
    .home-greeting h1 {
        font-size: 1rem;
    }

    .home-greeting-content {
        max-width: 20rem;
        padding-left: 1rem;
        padding-right: 1rem;
        margin: auto;
    }
    .home-greeting-code {
        max-width: 20rem;
        margin: auto;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
}

/* Medium devices. */
@media screen and (min-width: 768px) {

    .home-greeting-content {
        max-width: 30rem;
        margin: auto;
    }
    .home-greeting-code {
        max-width: 32rem;
        margin: auto;
    }
}

/* Large devices. */
@media screen and (min-width: 1160px) {

    .home-greeting {
        align-items: stretch;
        display: flex;
    }
    .home-greeting-content {
        margin-top: 3.5rem;
        max-width: 19rem;
        margin-left: 3rem;
    }
    .home-greeting-code {
        transform: translate3d(4rem, -2rem, 0);
        max-width: 32rem;
        z-index: 10;
        margin-right: 5rem;
    }

}
