{% extends "main.html" %}
{% block tabs %}
  {{ super() }}
  <link rel="stylesheet" href="{{ 'overrides/assets/css/home.css' | url }}">
  <link rel="stylesheet" href="{{ 'overrides/assets/css/atom-one-dark.min.css' | url }}">
  <script src="{{ 'overrides/assets/javascript/highlight.min.js' | url }}"></script>
  <script>hljs.highlightAll();</script>
  <style>.md-header{position:initial}.md-main__inner{margin:0}.md-content{display:none}@media screen and (min-width:60em){.md-sidebar--secondary{display:none}}@media screen and (min-width:76.25em){.md-sidebar--primary{display:none}}.md-main {background-color: #282c34}</style>
  <section class="home-container">
    <div class="md-grid md-typeset">
      <div class="home-greeting">

        <div class="home-greeting-content">
          <h1>Generate and Analyse High-Dimensional Neural Network Potentials with Python</h1>
          <p>{{ config.site_description }}</p>
          <a href="{{ 'usage/installation' | url }}" title="Installation" class="md-button md-button--primary">
            Get Started
            <span class="twemoji fa-rocket-launch">
              {% include ".icons/material/rocket-launch.svg" %}
            </span>
          </a>
          <a href="{{ 'features' | url }}" title="Features" class="md-button">
            Learn More
          </a>
        </div>

        <div class="home-greeting-code">
          <pre>
            <code class="language-python">from runnerase.calculators.runner import Runner
from ase.io import read
from runnerase.workflows import train_hdnnp
from runnerase.utils.defaultsoptions import DEFAULT_TRAINING_PARAMETERS

# Read input.data file.
dataset = read('input.data', index=':', format='runnerdata')

# Create a calculator object with the dataset attached to it.
runnercalc = Runner(dataset=dataset, command='RuNNer.x > PREFIX.out',
                    label='fit_1/mode1/mode1')

# Define custom settings.
settings = DEFAULT_TRAINING_PARAMETERS.copy()
settings['mode2']['epochs'] = 50

# Train the potential.
train_hdnnp(runnercalc, settings)
            </code>
          </pre>
        </div>

      </div>
    </div>
  </section>
{% endblock %}
{% block content %}{% endblock %}
{% block footer %}{% endblock %}
