
/* Avoid breaking parameter names, etc. in table cells. */
.doc-contents td code {
    word-break: normal !important;
  }

/* No line break before first paragraph of descriptions. */
.doc-md-description,
.doc-md-description>p:first-child {
display: inline;
}

/* Max width for docstring sections tables. */
.doc .md-typeset__table,
.doc .md-typeset__table table {
display: table !important;
width: 100%;
}

.doc .md-typeset__table tr {
display: table-row;
}

/* Defaults in Spacy table style. */
.doc-param-default {
float: right;
}

/* Symbols in Navigation and ToC. */
:root,
[data-md-color-scheme="default"] {
--doc-symbol-attribute-fg-color: #953800;
--doc-symbol-function-fg-color: #8250df;
--doc-symbol-method-fg-color: #8250df;
--doc-symbol-class-fg-color: #0550ae;
--doc-symbol-module-fg-color: #5cad0f;

--doc-symbol-attribute-bg-color: #9538001a;
--doc-symbol-function-bg-color: #8250df1a;
--doc-symbol-method-bg-color: #8250df1a;
--doc-symbol-class-bg-color: #0550ae1a;
--doc-symbol-module-bg-color: #5cad0f1a;
}

[data-md-color-scheme="slate"] {
--doc-symbol-attribute-fg-color: #ffa657;
--doc-symbol-function-fg-color: #d2a8ff;
--doc-symbol-method-fg-color: #d2a8ff;
--doc-symbol-class-fg-color: #79c0ff;
--doc-symbol-module-fg-color: #baff79;

--doc-symbol-attribute-bg-color: #ffa6571a;
--doc-symbol-function-bg-color: #d2a8ff1a;
--doc-symbol-method-bg-color: #d2a8ff1a;
--doc-symbol-class-bg-color: #79c0ff1a;
--doc-symbol-module-bg-color: #baff791a;
}

.side-menu-class-name {
  color: var(--doc-symbol-class-fg-color);
}

.side-menu-function-name {
  color: var(--doc-symbol-function-fg-color);
}


.doc-function-name::before {
  content: 'func';
  margin-right: 6px;
  padding: 2px;
  background-color: var(--doc-symbol-function-bg-color);
}

.doc-function-name {
  color: var(--doc-symbol-function-fg-color);
}

.doc-class-name::before {
  content: 'class';
  margin-right: 6px;
  padding: 2px;
  background-color: var(--doc-symbol-class-bg-color);
}

.doc-class-name {
  color: var(--doc-symbol-class-fg-color);
}

.doc-method-name::before {
  content: 'meth';
  margin-right: 6px;
  padding: 2px;
  background-color: var(--doc-symbol-method-bg-color);
}

.doc-method-name {
color: var(--doc-symbol-method-fg-color);
}

.doc-module-name::before {
  content: 'mod';
  margin-right: 6px;
  padding: 2px;
  background-color: var(--doc-symbol-module-bg-color);
}

.doc-module-name {
  color: var(--doc-symbol-module-fg-color);
}

.doc-attribute-name::before {
  content: 'attr';
  margin-right: 6px;
  padding: 2px;
  background-color: var(--doc-symbol-attribute-bg-color);
}

.doc-attribute-name {
  color: var(--doc-symbol-attribute-fg-color);
}

code.doc-symbol {
border-radius: .1rem;
font-size: .85em;
padding: 0 .3em;
font-weight: bold;
}

code.doc-symbol-attribute {
color: var(--doc-symbol-attribute-fg-color);
background-color: var(--doc-symbol-attribute-bg-color);
}

code.doc-symbol-attribute::after {
content: "attr";
}

code.doc-symbol-function {
color: var(--doc-symbol-function-fg-color);
background-color: var(--doc-symbol-function-bg-color);
}

code.doc-symbol-function::after {
content: "func";
}

code.doc-symbol-method {
color: var(--doc-symbol-method-fg-color);
background-color: var(--doc-symbol-method-bg-color);
}

code.doc-symbol-method::after {
content: "meth";
}

code.doc-symbol-class {
color: var(--doc-symbol-class-fg-color);
background-color: var(--doc-symbol-class-bg-color);
}

code.doc-symbol-class::after {
content: "class";
}

code.doc-symbol-module {
color: var(--doc-symbol-module-fg-color);
background-color: var(--doc-symbol-module-bg-color);
}

code.doc-symbol-module::after {
content: "mod";
}